<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View days off</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link href="/css/common.css" th:href="@{/css/viewvacancies.css}" type="text/css" rel="stylesheet"/>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=IBM Plex Serif' rel='stylesheet'>-->
    <!--commented css adding ca nu stiu cum ii la tine resource handling -->
</head>
<body>
<p> Welcome to your personal vacation history</p>
<h2> List of Vacancies </h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>username</th>
        <th>address</th>
        <th>email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${candidates.empty}">
        <td colspan="2"> No Candidates found</td>
    </tr>
    <tr th:each="candidate : ${candidates}">
        <td><span th:text="${candidate.username}"> username</span></td>
        <td><span th:text="${candidate.address}"> address</span></td>
        <td><span th:text="${candidate.email}"> email</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>